@use 'base/variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-color: v.$cNegro;
}

// Funcionalidades
.textoCentrado {
    text-align: center;
}

.textoBlanco {
    color: v.$cBlanco;
}

.textoResaltado {
    font-weight:700;
    color: v.$cRojoOscuro;
}

// Contenedor Principal
.contenedor {

}

.fondoTitulos {
    width: min(95%, 60rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    //background-image: url("/img/abstractwallpaper.jpeg");
    //background-repeat: no-repeat;
    //background-size: cover;
    position: relative;
}

.titulos {
    width: 100%;
    text-align: center;
    margin-top: 20rem;
    position: absolute;
}

.linea {
    margin: 0 auto;
    border-style: solid;
    border-radius: 25%;
    width: 90%;
    border-width: .3rem;
    border-color: v.$cRojoClaro;
  }

  .video {
    width: 100%;
  }

.lugaryfecha {
    position:unset;
}

p {
    color: v.$cBlanco;
}