// Importamos variables y mixins utilizado el Snippet 'ivm'
@use 'base/variables' as v;
@use 'base/mixins' as m;



html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    //min-height: 100vh;
    background-color: v.$cNegro;
}

// Funcionalidades
.textoCentrado {
    text-align: center;
}

.textoBlanco {
    color: v.$cBlanco;
}

.textoResaltado {
    font-weight:700;
    color: v.$cRojoOscuro;
}



.linea {
    margin: 0 auto;
    border-style: solid;
    border-radius: 25%;
    width: 90%;
    border-width: .3rem;
    border-color: v.$cRojoClaro;
  }


.lugaryfecha {
    position:unset;
    @include m.tablet {
        
    }
}

p {
    color: v.$cBlanco;
}