// Importamos variables y mixins utilizado el Snippet 'ivm'
@use 'base/variables' as v;
@use 'base/mixins' as m;

.pie {
    background: rgb(21,24,29);
    background: linear-gradient(90deg, rgba(21,24,29,1) 0%, rgba(37,10,51,0.3841911764705882) 47%, rgba(25,1,1,1) 100%);
    padding: 1rem;
    p {
        margin: 0;
        text-align: center;
        color: v.$cBlanco;
    }
    span {
        font-weight: 700;
    }
}