@use 'base/variables' as v;


.flux {
    color: v.$cMagentaClaro;
    line-height: 9vw;
    text-shadow: 0 0 3vw v.$cMagentaOscuro;
  }

   
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  

  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #cda5e4, .5vw .5vw .1vw #380747;
      color: white;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #3a0061;
      color: v.$cMagentaClaro;
    }
  }
  

  .neon {
    color: v.$cRojoClaro;
    line-height: 9vw;
    text-shadow: 0 0 3vw v.$cRojoOscuro;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #e44f88, .5vw .5vw .1vw #8a1d1d;
      //color: #FED128;
      color: #e9a1ad;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #400a17;
      //color: #806914;
      color: rgb(245, 50, 50)
    }
  }