@use 'base/variables' as v;
@use 'base/mixins' as m;

// titulo ($tamanio, $grosor, $mayusculas, $fuente: v.$fPrincipal) {

.titulos {

  h1.tituloPrincipal {
    margin: 1rem 0;
    padding: 3rem 0;
  }

  p.tituloSecundarioFecha {
    margin: 0 0 5rem 0;
    padding: 0;

    span.fechaDia,
    span.fechaAnio {
      position: relative;
    }

    span.fechaDia::before,
    span.fechaAnio::after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 1px;
      background-color: v.$cBlanco;
      margin-top: 1.5rem;
    }

    span.fechaDia::before {
      left: -6rem;
    }

    span.fechaAnio::after {
      right: -6rem;
    }
  }

  p.tituloSecundarioMisQuince {
    font-family: v.$fPrincipal;
    font-size: 5rem;
    margin: 0;
    padding: 0;
  }
}



